<%= form_for @person, html: {class: 'form-horizontal'} do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label :name, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :email, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :address, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :address, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :city, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :city, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :postal, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :postal, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :phone_home, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :phone_home, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :phone_cell, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :phone_cell, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :phone_work, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :phone_work, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :authority, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.number_field :authority, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :born_on, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
            <%= f.text_field :born_on, class: 'col-md-2 form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <%= f.submit class: 'btn btn-default' %>
        </div>
    </div>
<% end %>
