<div class="row">
    <div class="col-md-12">
        <h1>Zen Dogz are Good Dogz!</h1>
        <p>We offer Daily Pack Walks, Doggy Daycare, Obedience Training, Personal Coaching, Individual Walks, Home Visits and Treadmill Training with the highest qualified and balanced handlers around.</p>

        <p>Zen Dogz is committed to providing top of the line dog care! Our daily obligation includes physical exercise, mental stimulation, consistency, and obedience training all done in a positive, calm and harmonized environment to ensure the best results for you and your dog.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Daily Pack Walks</h2>
        <p>Your dog will learn to walk in a heel, learn patience and basic commands (Sit, Down, Stay and Recall), while being analyzed and corrected for behavioral issues that concern you.</p>
        <%= link_to 'More Info', services_path(anchor: 'walks'), class: 'btn btn-default' %>
    </div>
    <div class="col-md-4">
        <h2>Doggy Daycare</h2>
        <p>We will look after your little K-9 buddy while you are at work or play.</p>
        <%= link_to 'More Info', services_path(anchor: 'daycare'), class: 'btn btn-default' %>
    </div>
    <div class="col-md-4">
        <h2>Personal Coaching</h2>
        <p>We will come to your home to analyze your dog situation and offer you professional advice.</p>
        <%= link_to 'More Info', services_path(anchor: 'coaching'), class: 'btn btn-default' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- slides -->
            <div class="carousel-inner" role="listbox"  style="margin: 0 auto;">
            <% @gallery_indexes.each do |index| %>
                <div class="item <%= index == 1 ? 'active' : '' %>">
                    <%= image_tag("gallery/#{index}.jpg", height: '600', class: 'center-block') %>
                    <div class="carousel-caption">
                        caption for <%= index %> ...
                    </div>
                </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>

<% if @testimonials %>
    <h1>testimonials</h1>
    <hr/>
    <%= render @testimonials %>
<% end %>
