<h1>Listing enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Course</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.person %></td>
        <td><%= enrollment.course %></td>
        <td><%= link_to 'Show', course_enrollment_path(@course, enrollment) %></td>
        <td><%= link_to 'Edit', edit_course_enrollment_path(@course, enrollment) %></td>
        <td><%= link_to 'Destroy', course_enrollment_path(@course, enrollment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_course_enrollment_path(@course) %>
