<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @enrollment.person %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment.course %>
</p>

<%= link_to 'Edit', edit_course_enrollment_path(@course, @enrollment) %> |
<%= link_to 'Back', course_enrollments_path(@course) %>
