<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @enrollment.person %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment.course %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
