<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Handout</th>
      <th>Lesson at</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.handout %></td>
        <td><%= lesson.lesson_at %></td>
        <td><%= lesson.status.description %></td>
        <td><%= link_to 'Show', course_lesson_path(@course, lesson) %></td>
        <td><%= link_to 'Edit', edit_course_lesson_path(@course, lesson) %></td>
        <td><%= link_to 'Destroy', course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_course_lesson_path(@course) %>
