<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Handout:</strong>
  <%= @lesson.handout %>
</p>

<p>
  <strong>Lesson at:</strong>
  <%= @lesson.lesson_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lesson.status %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
