<h1>Listing courses</h1>

<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
        <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td>
                <% if can? :courses, :show, course %>
                    <%= link_to 'Show', course %>
                <% end %>
            </td>
            <td>
                <% if can? :courses, :update, course %>
                    <%= link_to 'Edit', edit_course_path(course) %>
                <% end %>
            </td>
            <td>
                <% if can? :courses, :destroy, course %>
                    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<% if can? :courses, :create %>
    <%= link_to 'New Course', new_course_path %>
<% end %>
