<h1>Listing courses</h1>

<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th colspan="4">&nbsp;</th></tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
        <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td>
                <%= link_to('Show', course) if policy(course).show? %>
            </td>
            <td>
                <%= link_to('Edit', edit_course_path(course)) if policy(course).update? %>
            </td>
            <td>
                <%= link_to('Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }) if policy(course).destroy? %>
            </td>
            <td>
                <% if current_user && current_user.enrolled?(course) %>
                    enrolled
                <% elsif policy(Enrollment).new? %>
                    <%= link_to('Enroll', new_course_enrollment_path(course), remote: true) %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<% if policy(Course).create? %>
    <%= link_to 'New Course', new_course_path %>
<% end %>
