<h1>Listing courses</h1>

<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
        <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= link_to 'Show', course %></td>
            <% if can? :update, Course %>
                <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <% else %>
                <td>&nbsp;</td>
            <% end %>
            <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<% if can? :create, Course %>
    <%= link_to 'New Course', new_course_path %>
<% end %>
