<h1>Listing courses</h1>

<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr></th></tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
        <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td>
                <% if policy(course).show? %>
                    <%= link_to 'Show', course %>
                <% end %>
            </td>
            <td>
                <% if policy(course).update? %>
                    <%= link_to 'Edit', edit_course_path(course) %>
                <% end %>
            </td>
            <td>
                <% if policy(course).destroy? %>
                    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>
            <td>
                <% if policy(Enrollment).new? %>
                    <%= link_to 'Enroll', course_enrollments_path(course), method: :post, remote: true %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<% if policy(Course).create? %>
    <%= link_to 'New Course', new_course_path %>
<% end %>
