<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @course.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= markdown @course.description %>
</p>

<p>
    <strong>Schedule:</strong>
    <ul>
    <% @course.schedule_obj.recurrence_rules.each do |rule| %>
        <li><%= rule.to_s %></li>
    <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<% if policy(Enrollment).new? %>
    | <%= link_to 'Enroll', course_enrollments_path(@course), method: :post, remote: true %>
<% end %>
