<h1>testimonials</h1>

<% @testimonials.each do |testimonial| %>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><%= testimonial.from %>
                        <span class="small pull-right"><%= distance_of_time_in_words(testimonial.created_at, Time.now) %> ago</span>
                    </div>
                </div>
                <div class="panel-body">
                    <%= markdown(testimonial.body) %>
                    <%= link_to 'Show', testimonial %>
                    <% if policy(testimonial).update? %>
                        ::<%= link_to 'Edit', edit_testimonial_path(testimonial) %>
                    <% end %>
                    <% if policy(testimonial).destroy? %>
                        ::<%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<% if policy(Testimonial).create? %>
    <%= link_to 'New Testimonial', new_testimonial_path %>
<% end %>
