<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @testimonial.from %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@testimonial.body) %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
