<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Zendogz</title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to(image_tag('logo.png', width: '140'), root_path, class: 'navbar-brand') %>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="nav-links" class="nav navbar-nav">
                        <% c = params[:controller]; a = params[:action]; %>
                        <%= content_tag(:li, link_to('home', root_path), a.include?('home') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('about', about_path), a.include?('about') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('services', services_path), a.include?('services') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('contact', contact_path), a.include?('contact') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('training', courses_path), c.include?('courses') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('testimonials', testimonials_path), c.include?('testimonials') ? {class: 'selected'} : nil) %>
                        <%= content_tag(:li, link_to('gallery', gallery_path), a.include?('galler') ? {class: 'selected'} : nil) %>
                    </ul>

                    <% if admin? %>
                    <ul id="nav-admin" class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Admin
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'manage courses', courses_path %></li>
                                <li><%= link_to 'manage lookup codes', codes_path %></li>
                            </ul>
                        </li>
                    </ul>
                    <% end %>
                    <ul id="nav-profile" class="nav navbar-nav navbar-right">
                        <% if current_user %>
                            <ul id="nav-admin" class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        welcome <%= current_user.email %>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to 'edit profile', edit_person_path(current_user) %></li>
                                        <li><%= link_to 'manage dogs', dogs_path %></li>
                                        <li><%= link_to 'logout', logout_path %></li>
                                    </ul>
                                </li>
                            </ul>
                        <% else %>
                            <li><%= link_to 'register', register_path, remote: true %></li>
                            <li><%= link_to 'login', login_path, remote: true %></li>
                        <% end %>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div id="header">
                    <%= image_tag("header/#{rand(11).to_s}.jpg") %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>give us a bark: <a href="mailto:zendogz3@gmail.com">zendogz3@gmail.com</a>, or (250) 686-3325</strong>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12" id="messages">
                    <%= link_to 'debug', debug_path, remote: true if Rails.env.development? %>

                    <!-- flash messages -->
                    <% flash.each do |key, value| %>
                        <%
                            cls = 'danger' if key.to_s.eql?('alert')
                            cls = 'success' if key.to_s.eql?('notice')
                        %>
                        <div class="alert alert-block alert-dismissable alert-<%= cls %>">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4 class="alert-heading"><%= key %>:</h4>
                            <%= value %>
                        </div>
                    <% end %>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <%= yield %>
                </div>

            </div>

            <div class="row">

                <footer class="col-lg-12">
                    <p>Copyright &copy; Zendogz.ca <%= Date.today.year %> &middot; Facebook</p>
                    <p>all rights reserved</p>
                </footer>
            </div> <!-- end .row -->
        </div><!-- /.container -->

        <!-- hidden elements -->
        <div id="modal-dialog" class="modal fade"></div>

        <!-- Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    </body>
</html>
